module.exports = {
  content: [
    "./app/**/*.{js,jsx}",
    "./components/**/*.{js,jsx}",
  ],
  theme: {
    extend: {
      fontFamily: {
        overpass: ["var(--font-overpass)", "sans-serif"],
        source: ["var(--font-source)", "sans-serif"],
        montserrat: ["var(--font-montserrat)", "sans-serif"],
      },
    }

    },
  },
  plugins: [],
};
